<div class="container mt-5">
    <div *ngIf="!registorMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Come on view your matches ... All you need to do is sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div class="container" *ngIf="registorMode">

        <div class="row justify-content-center">
            <div class="col-4">
               <app-register [userFromHomeComponent]="users" (cancelRegister)="cancelRegistration($event)"></app-register>
            </div>
        </div>
    </div>
</div>