<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" href="#">Application</a>


    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
      <ng-container *ngIf="_accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active" href="#">List</a>
        </li>
  
        <li class="nav-item" >
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"  href="#">Message</a>
        </li>
     
        <li class="nav-item" (click)="logOut()">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ng-container>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"  href="#">Errors</a>
      </li>
     
    </ul>
    <div class="dropdown" dropdown *ngIf="(_accountService.currentUser$ | async) as user">
      <a class="dropdown-toggle text-light" dropdownToggle >Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logOut()">Logout</a>
      </div>
    </div>

    <form *ngIf="!(_accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
      <input class="form-control me-2" name="username" [(ngModel)]="model.username" type="text" placeholder="Username">
      <input class="form-control me-2" name="password" [(ngModel)]="model.password" type="password"
        placeholder="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>

  </div>
</nav>